<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="enterpriseVehicleAddForm" class="row g-3">
  <div data-mdb-input-init class="form-outline col-md-4">
    <label for="vehicleYear" class="form-label">Year</label>
    <input type="number" id="vehicleYear" name="year" class="form-control" required/>
  </div>

  <div data-mdb-input-init class="form-outline col-md-4">
    <label for="vehicleMileage" class="form-label">Mileage</label>
    <input type="number" id="vehicleMileage" name="mileage" class="form-control" required/>
  </div>

  <div data-mdb-input-init class="form-outline col-md-4">
    <label for="vehicleColor" class="form-label">Color</label>
    <input type="text" id="vehicleColor" name="color" class="form-control" required/>
  </div>

  <div data-mdb-input-init class="form-outline col-md-6">
    <label for="vehiclePrice" class="form-label">Price</label>
    <input type="number" id="vehiclePrice" name="price" class="form-control" required/>
  </div>

  <div data-mdb-input-init class="form-outline col-md-6">
    <label for="vehicleLicensePlate" class="form-label">Plate Number</label>
    <input type="text" id="vehicleLicensePlate" name="licensePlate" class="form-control" required/>
  </div>

  <div data-mdb-input-init class="form-outline col-md-12">
    <label for="vehiclePurchaseDate" class="form-label">Purchase Date/Time</label>
    <input type="datetime-local" id="vehiclePurchaseDate" name="purchaseDate" class="form-control"
           required/>
  </div>

  <div data-mdb-input-init class="form-outline col-md-12">
    <label for="vehicleBrand" class="form-label">Brand</label>
    <select id="vehicleBrand" name="brandId" class="form-select" required>
      <option disabled selected>Select brand</option>
    </select>
  </div>
</div>
