<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<aside th:fragment="sidebar(activeLink)" id="sidebar" class="sidebar collapsed"
       aria-label="Sidebar" th:attr="active-link=${activeLink}" >
  <ul class="sidebar-nav">
    <!-- Default item -->
    <li class="sidebar-item">
      <a href="/overview" class="sidebar-link" aria-label="Go to Overview">
          <span class="icon">
            <i class="bi bi-grid"></i>
          </span>
        <span class="description">Overview</span>
      </a>
    </li>
    <!-- Item with submenu -->
    <li class="sidebar-item">
      <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
         data-bs-target="#table" aria-expanded="true" aria-controls="table">
        <span class="icon">
          <i class="bi bi-table"></i>
        </span>
        <span class="description">Tables</span>
      </a>
      <ul id="table" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
        <li class="sidebar-item">
          <a href="/vehicles" class="sidebar-link">Vehicles</a>
        </li>
        <li class="sidebar-item">
          <a href="/brands" class="sidebar-link">Brands</a>
        </li>
      </ul>
    </li>
  </ul>
</aside>
