<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div id="table-container" th:fragment="table">
  <table id="vehiclesTable" class="table table-striped table-hover table-bordered">
    <thead>
    <tr>
      <th>ID</th>
      <th>Year</th>
      <th>Mileage</th>
      <th>Color</th>
      <th>Price</th>
      <th>Number</th>
      <th>Brand</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>

    <!--/*@thymesVar id="vehicles" type="List<VehicleModel>: vehicle objects list"*/-->
    <tr th:each="vehicle : ${vehicles}"
        th:with="btnUrl=@{/vehicles/{id}(id=${vehicle.id})}">
      <td th:text="${vehicle.id}">ID</td>
      <td th:text="${vehicle.year}">Year</td>
      <td th:text="${vehicle.mileage}">Mileage</td>
      <td th:text="${vehicle.color}">Color</td>
      <td th:text="${vehicle.price}">Price</td>
      <td th:text="${vehicle.plateNumber}">Number</td>
      <!--/*@thymesVar id="brands" type="List<VehicleBrandModel: brand objects list"*/-->
      <th:block th:with="vehicleBrandId=${vehicle.brandId}">
        <td th:text="${brands.^[id==#root.vehicleBrandId].name}">Brand</td>
      </th:block>
      <td>
        <!--/* Button in Actions column to edit exec row */-->
        <a class="btn btn-primary btn-sm" id="editButton" th:href="${btnUrl}">
        <span>
          <i class="bi bi-pencil-square"></i>
        </span>
          <span>Edit</span>
        </a>
        <!--/* Button in Actions column to delete exec row */-->
        <a class="btn btn-danger btn-sm" id="deleteButton" th:href="${btnUrl}"
           th:attr="data-delete-url=${btnUrl}">
          <span>
          <i class="bi bi-trash"></i>
        </span>
          <span>Delete</span>
        </a>
      </td>
    </tr>
    </tbody>
  </table>
  <!--/* Modal to add new vehicles */-->
  <div th:with="modalBodyFragment = ~{views/fragments/body/vehicle/add-body ::
       vehicleAddForm}">
    <div
      th:replace="~{views/fragments/modals/_add-modal :: addModal(
      modalId='addVehicleModal',
      modalTitle='Add new vehicle',
      modalBody=${modalBodyFragment},
      modalActionLabel='Save',
      modalAction='/vehicles')}">
    </div>
  </div>
  <!--/* Modal to edit existed vehicles from table */-->
  <div th:with="modalBodyFragment = ~{views/fragments/body/vehicle/edit-body ::
       vehicleEditBody(currentBrandId=vehicle.brandId)}">
    <div
      th:replace="~{views/fragments/modals/_edit-modal :: editModal(
      modalId='editVehicleModal',
      modalTitle='Edit vehicle',
      modalBody=${modalBodyFragment},
      modalActionLabel='Edit',
      modalAction='/vehicles')}">
    </div>
  </div>
  <!--/* Modal to delete existed vehicles from table */-->
  <div
    th:replace="~{views/fragments/modals/_delete-modal :: deleteModal(
    modalAction='/vehicles',
    objectTypeName='Vehicle',
    additionalText=~{})}">
  </div>
</div>
