body {
    padding-top: 56px;
}

.main-content-container {
    margin-left: 80px;
    padding: 20px;
}

.main-content-container .h1 {
    margin-top: 20px;
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 56px;
    left: 0;
    height: calc(100% - 56px);
    width: 150px;
    max-width: 250px;
    box-sizing: content-box;
    padding-top: 20px;
    background-color: #343a40;
    transition: all .25s ease-in-out;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/* Sidebar navigation links */
.sidebar .nav-link {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
    color: #ffffff;
    transition: all 0.3s ease;
}

.sidebar .nav-link:hover {
    background-color: #495057;
    border-left: 4px solid #007bff;
    color: #ffffff;
}

.sidebar .description {
    font-size: 14px;
    transition: opacity 0.3s ease, margin 0.3s ease;
}

.sidebar .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}

.sidebar .sub-menu {
    background-color: #23272b;
    padding-left: 3%;
    transition: max-height 0.3s ease;
    overflow: hidden;
}

/* Sidebar active item */
.sidebar .nav-link.active {
    background-color: #007bff;
    color: #ffffff;
    font-weight: bold;
    border-left: 4px solid #ffffff;
}

.sidebar .nav-link.active .icon {
    color: #ffffff; /* Цвет иконки активного элемента */
}

.sidebar .nav-link.active .description {
    color: #ffffff;
}

/* Sidebar collapsed */
.sidebar.collapsed {
    width: 70px;
}

.sidebar.collapsed .description {
    display: none;
    transition: opacity 0.3s ease, margin 0.3s ease;
}

.sidebar.collapsed .nav-link {
    justify-content: center;
    gap: 0;
    padding: 10px;
    text-align: center;
    transition: all 0.3s ease;
}

.sidebar.collapsed .icon {
    margin: 0 auto;
    transition: all 0.3s ease;
}

.sidebar.collapsed .sub-menu {
    padding-left: 0;
}
