<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <title>Vehicle Fleet. Overview page</title>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link rel="stylesheet" th:href="@{/css/datatables/datatables.min.css}"/>
  <link rel="stylesheet" th:href="@{/css/style.css}">

  <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/frameworks/datatables/datatables.min.js}"></script>
</head>
<body class="bg-light">
<!--/* Header fragment */-->
<header th:replace="~{views/fragments/_header :: header(showSidebarToggle='true')}"></header>
<!--/* Sidebar fragment */-->
<aside th:replace="~{views/fragments/_sidebar :: sidebar(${activeSidebarLink})}"></aside>

<div class="main-content">
  <main>
    <section class="main-content-container p-3">
      <h1>Overview</h1>
      <div sec:authorize="hasRole('ROLE_MANAGER')">
        <h2>Enterprises (seen only by manager)</h2>
      </div>
    </section>
    <!--/* Success toast */-->
    <div th:replace="~{views/fragments/toasts/_success_toast :: successToast}"></div>
    <!--/* Error toast */-->
    <div th:replace="~{views/fragments/toasts/_error-toast :: errorToast}"></div>
  </main>
</div>
<!--/* Footer fragment */-->
<footer th:replace="~{views/fragments/_footer :: footer}"></footer>

<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/presentation/sidebar/toggle-sidebar.js}"></script>
<script th:src="@{/js/presentation/sidebar/activate-sidebar-link.js}"></script>
</body>
